
/* Begin: header */
.header{
    height: var(--header-height);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header__navbar-list {
    list-style: none;
    padding: 0;
    flex: 3;
}

.header.header-sticky .header__navbar-list.flex-right {
    position: fixed;
    z-index: 9998;
    right: 0;
    left: auto;
    top: 0;
    width: 172px;
    height: var(--menu-height);
    margin: 0;
    display: flex;
    align-items: center;
}

.header__navbar-item {
    position: relative;
    margin: 0 12px;
    padding: 0 8px;
    text-align: center;
    min-width: 31.75px;
}

.header__navbar-item--has-notify:hover .header__notify-wrap {
    display: block;
}

.header__navbar-item,
 .header__navbar-item .item-link{
    display: inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 3rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__navbar-item-search {
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

/* Form mini search */
.form-mini-search {
    position: absolute;
    z-index: 9999;
    right: 8px;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: content-box;
    background: #fff;
    transition: width .4s cubic-bezier(.17,.84,.44,1);
    display: flex;
}

.form-mini-search.active {
    margin: 0 -24px;
    top: -15px;
    width: 395px;
    height: var(--navbar-height);
}

.header.header-sticky .form-mini-search.active {
    top: -30px;
}

.form-mini-search.active::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    transition: visibility 0s, opacity 0.6s cubic-bezier(.17, .84, .44, 1);
    cursor: default;
}

.search-button-wrap {
    width: 100%;
}

.form-mini-search.active .search-button-wrap {
    width: 60px;
    height: 100%;
    display: inline-block;
}

.search-button {
    border: none;
    background: #fff;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form-mini-search.active .search-button {
    width: 100%;
    position: relative;
}

.search-input-wrap {
    display: none;
}

.form-mini-search.active .search-input-wrap {
    display: block;
    flex: 1;
}

.form-mini-search.active .search-input-wrap input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 0 0 12px;
    font-size: 1.6rem;
    font-weight: 500;
    position: relative;
    background: #fff;
}

.close-button-wrap {
    display: none;
}

.form-mini-search.active .close-button-wrap {
    display: block;
    width: 60px;
    height: 100%;
}

.form-mini-search.active .close-button-wrap i {
    width: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 2.2rem;
    position: relative;
    background: #fff;
}
/* End: Form mini search */

/* Form sign up */

.form-sign-up{
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    line-height: 3rem;
    background-image: url('../images/backgound.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: visibility 0s, opacity 0.6s cubic-bezier(.17, .84, .44, 1);
    cursor: default;
    /* display: none; */
}
.form-sign-up.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-wrapper{
    width: 800px;
    background: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    top: 20%;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    animation: slipUp linear 0.3s;
}
@keyframes slipUp {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to{
        bottom: 0;
        opacity: 1;
    }
}

.sign-up-wrapper h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 24px 0;
    font-size: 2.6rem;
    /* color: #FF9966; */
    color: var(--text-color2);
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    text-align: center;
    text-transform: uppercase
}
.sign-up-box-left {
    padding-top: 78px;
    background: var(--main-color);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.sign-up-box-left form {
    padding: 0 64px;
}

.sign-up-box-left .input-box h3 {
    color: var(--text-color2);
    margin: 4px 0 0;
    user-select: none;
}

.sign-up-box-left input {
    width: 100%;
    border: none;
    padding: 12px 0;
    background: rgba(0,0,0,0);
    border-bottom: 1px solid #435160;
    outline: none;
}

.accept-rules__checkbox {
    display: flex;
    align-items: center;
    user-select: none;
    margin-right: 4px;
}

.accept-rules__checkbox label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: transparent;
    content: "";
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 3px solid var(--text-color2);
}
#agree:checked ~ label {
    background: var(--text-color2)
}

.accept-rules-box {
    display: flex;
    align-items: center;
    margin-top: 18px;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.accept-rules-box span {
    color: var(--text-color2);
}

.sign-up-box-left form button {
    width: 100%;
    margin-top: 4px;
    border: none;
    padding: 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color2);
    position: relative;
    transition: color .5s;
    z-index: 2;
}

.sign-up-box-left button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--text-color);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.sign-up-box-left button:hover {
    color: #FF9966;
}
.sign-up-box-left button:hover:before {
    transform: scaleX(1);
}

.connect-other-account{
    margin-top: 24px;
    display: none;
}
.line-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.line-wrapper .line {
    height: 1px;
    width: 100%;
    background-color: var(--text-color);
    flex: 1;
    opacity: 0.6;
}
.line-wrapper span {
    color: var(--text-color);
    padding: 0 1.2rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.6;
}
.connect-other-account-box{
    width: 50%;
    display: flex;
    color: #fff;
    padding: 8px 14px;
    margin: 0px 6px;
}
.connect-other-account-wrapper {
    display: flex;
    margin: 0px -6px;
}
.connect-other-account__icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
}
.connect-other-account__name{
    flex: 1;
    user-select: none;
    font-size: 1.6rem;
}

.haven-account-wrapper {
    text-align: center;
    margin: 46px 0 12px;
}
.haven-account-wrapper h5{
    font-size: 1.3rem;
    color: var(--text-color2);
    margin: 0;
}

.haven-account-wrapper span {
    font-size: 1.3rem;
    color: #dedede;
    transition: color .2s;
    display: inline-block;
}
.haven-account-wrapper span:hover{
    color: #FF9966;
    cursor: pointer;
}

.sign-up-box-right {
    padding-top: 78px;
    background: #dedede;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect-other-wrapper {
    padding: 0 64px;
    margin-bottom: 24px;
}
.connect-other-box {
    display: flex;
    color: #fff;
    padding: 12px 12px;
}
.connect-other-box-facebook {
    background-color: #466fb1;
    -webkit-tap-highlight-color: transparent;
}
.connect-other-box-facebook:hover {
    background-color: #4065a0;
    cursor: pointer;
}
.connect-other-box-google {
    background-color: #DC5235;
    -webkit-tap-highlight-color: transparent;
}
.connect-other-box-google:hover {
    background-color: #b9442d;
    cursor: pointer;
}
.icon-connect-other {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
}
.connect-content {
    flex: 1;
    padding-left: 18px;
    user-select: none;
}

.or-box {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%,-50%);
    border-radius: 50%;
    background: #d0d0d0;
    font-size: 1.2rem;
    user-select: none;
}

/* End: Form sign up */
/* Form sign in */
.form-sign-in{
    position: fixed;
    /* z-index: 100000; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    line-height: 3rem;
    background-image: url('../images/backgound.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: visibility 0s, opacity 0.6s cubic-bezier(.17, .84, .44, 1);
    cursor: default;

}
.form-sign-in.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in-wrapper{
    width: 800px;
    /* background: var(--white-color); */
    margin: auto;
    display: flex;
    position: relative;
    top: 20%;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    animation: slipDown linear 0.3s;
}
@keyframes slipDown {
    from {
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

.sign-in-close-button {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    padding: 0 12px;
    font-size: 2.4rem;
    color: var(--text-color2);
}
.sign-in-close-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.sign-in-wrapper h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 24px 0;
    font-size: 2.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: #FF9966; */
    color: var(--text-color2);
    font-weight: 800;
    user-select: none;
    text-align: center;
    text-transform: uppercase
}
.sign-in-box-left {
    padding-top: 78px;
    background: var(--main-color);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.sign-in-box-left form {
    padding: 0 64px;
}

.sign-in-box-left .input-box h3 {
    color: var(--text-color2);
    margin: 4px 0 0;
    user-select: none;
}

.sign-in-box-left input {
    width: 100%;
    border: none;
    padding: 12px 0;
    background: rgba(0,0,0,0);
    border-bottom: 1px solid #435160;
    outline: none;
}

.sign-in-box-left form button {
    width: 100%;
    margin-top: 32px;
    border: none;
    padding: 10px 16px;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color2);
    position: relative;
    transition: color .5s;
    z-index: 2;
}

.sign-in-box-left .forget-wrapper {
    margin: 4px -12px 0;
}
.sign-in-box-left .forget-wrapper a{
    display: inline-block;
    padding: 0 12px;
    color: var(--text-color2);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
.sign-in-box-left .forget-wrapper a:hover{
    color: #4d5c6d;
}

.sign-in-box-left button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--text-color);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.sign-in-box-left button:hover {
    color: #FF9966;
}
.sign-in-box-left button:hover:before {
    transform: scaleX(1);
}



.haven-account-wrapper {
    text-align: center;
    margin: 46px 0 12px;
}
.haven-account-wrapper h5{
    font-size: 1.3rem;
    color: var(--text-color2);
    margin: 0;
}

.sign-in-box-right {
    padding-top: 78px;
    background: #dedede;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect-other-wrapper {
    padding: 0 64px;
    margin-bottom: 24px;
}
.connect-other-box {
    display: flex;
    color: #fff;
    padding: 12px 12px;
}
.connect-other-box-facebook {
    background-color: #466fb1;
    -webkit-tap-highlight-color: transparent;
}
.connect-other-box-facebook:hover {
    background-color: #4065a0;
    cursor: pointer;
}
.connect-other-box-google {
    background-color: #DC5235;
    -webkit-tap-highlight-color: transparent;
}
.connect-other-box-google:hover {
    background-color: #b9442d;
    cursor: pointer;
}
.icon-connect-other {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
}
.connect-content {
    flex: 1;
    padding-left: 18px;
    user-select: none;
}

.or-box {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%,-50%);
    border-radius: 50%;
    background: #d0d0d0;
    font-size: 1.2rem;
    user-select: none;
}

/* End: Form sign in */

.header__navbar-item:hover,
.header__navbar-item:hover i,
.header__navbar-item .item-link:hover {
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
 }

 .header .header__logo {
    margin: 0;
    flex: 3;
    text-align: center;
}

.header.header-sticky .header__logo {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 18px;
    right: auto;
    width: 172px;
    height: var(--menu-height);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header__logo a {
    text-decoration: none;
    margin: 0;
    padding: 16px;
    color: #FF9966;
    font-size: 2.6rem;
    font-weight: 800;
    display: inline-block;
}

.header.header-sticky .header__logo a {
    padding: 0;
    color: var(--text-color);
    display: inline-block;
}

 /* Header notification  */
 .header__notify-wrap {
    position: absolute;
     z-index: 3;
     width: 406px;
     top: calc(100% + 4px);
     right: -20px;
     background-color: #fff;
     /* border: 1px solid rgba(0, 0, 0, 0.1); */
     box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
     border-radius: 3px;
     transform-origin: calc(100% - 32px) top;
     animation: headerNotifyGrowth ease-in 0.25s;
     -webkit-animation: headerNotifyGrowth ease-in 0.25s;
    -o-animation: headerNotifyGrowth ease-in 0.25s;
    -moz-animation: headerNotifyGrowth ease-in 0.25s;
     cursor: default;
     will-change: opacity, transform;
     display: none;
 }

 .header__notify {
    background: var(--main-color);
 }

 @keyframes headerNotifyGrowth {
     from {
         opacity: 0;
         transform: scale(0);
     }
     to {
         opacity: 1;
         transform: scale(1);
     }
 }

 .header__notify-wrap::before {
    content: "";
    position: absolute;
    top: -24px;
    right: 18px;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent #FF9966 transparent;
}

 .header__notify-header {
     margin-left: 10px;
     height: 40px;
 }

 .header__notify-header::before {
    content: "";
    position: absolute;
    width: 94px;
    height: 16px;
    top: -16px;
    right: 0px;
    background-color: transparent;
 }

 .header__notify-header h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
    color: #fff;
    user-select: none;
    cursor: default;
 }

 .header__notify-list {
     padding: 0;
     list-style: none;
     /* background-color: var(--white-color); */
 }

 .header__notify-item {
    background: rgba(238, 77, 45,0.08);
 }

 .header__notify-item:hover {
     background-color: #f0f0f0;
 }

 .header__notify-item:hover .notify-item-description {
    color: #999;
 }

 .header__notify-item--viewed {
    background: var(--white-color);
}

.header__notify-item--viewed .notify-item-description {
     color: #999;
 }

 .header__notify-link {
     display: flex;
     width: 100%;
     text-decoration: none;
     padding: 10px;
 }

 .notify-item__img {
     width: 48px;
     height: 48px;
     object-fit: contain;
 }

 .notify-item__content {
    margin-left: 12px;
 }

 .notify-item-name {
     font-size: 1.4rem;
     line-height: 18px;
     font-weight: 400;
     color: var(--black-color);
     display:-webkit-box;
     -webkit-line-clamp:1;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     word-break: break-word;
 }

 .notify-item-description {
     font-size: 1.2rem;
     line-height: 8px;
     color: #fff;
     letter-spacing: 0.5px;
     text-align: left;
 }

 .header__notify-footer {
     display: flex;
 }

 .header__footer-btn {
    width: 100%;
    font-size: 1.4rem;
    line-height: 14px;
    margin: 0;
    padding: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
 }

 /* Begin header menu */
 .header-menu-wrap {
     background-color: #fff;
     height: var(--menu-height);
 }

 .header-menu {
     display: flex;
     justify-content: center;
     height: var(--menu-height);
     background: var(--main-color);
 }

 .sticky {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}

 .menu-list {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
 }

 .menu-item {
     display: inline-block;
     list-style: none;
     height: 100%;
     font-size: 1.4rem;
     font-weight: 500;
     letter-spacing: 1px;
     padding: 0 12px;
     text-transform: uppercase;
    }

.menu-item a {
    --line-height: var(--menu-height);
    display: inline-block;
    text-decoration: none;
    line-height: var(--line-height);
    color: var(--text-color);
    transition: all 0.1s ease-in 0s;
 }

 .menu-item:hover a {
     font-size: 1.6rem;
 }

 .menu-item:hover .menu-item-name::before{
     transform: scale(1);
     visibility: visible;
 }

 .menu-item a .menu-item-name {
     position: relative;
 }

 .menu-item a .menu-item-name::before {
     content: "";
     position: absolute;
     width: 100%;
     height: 1px;
     bottom: 0;
     left: 0;
     margin-bottom: -8px;
     border-bottom: 1px solid var(--text-color);
     transform: scale(0);
     visibility: hidden;
     transition: all 0.2s ease-in-out 0s;
 }

 .menu-item:hover .subnav{
    visibility: visible;
}

.menu-item:hover .subdiv{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
}

.subnav{
   position: absolute;
   background-color: #f0f0f0;
   left: 0;
   right: 0;
   display: flex;
   z-index: 10000;
   justify-content: center;
   visibility: hidden;
   padding-bottom: 16px;
   transition: visibility 0.15s;
}


.subnav .subnav-content{
   text-align: left;
   min-width: 20%;
}

.subnav-content .subnav-header{
   padding-left: 40px;
}

.subnav-content .subnav-header h5::before{
    content: "";
    position: absolute;
    z-index: 1000000;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.subnav-content .subnav-list{
   list-style: none;
   font-size: 16px;
   width: 100%;
}

.subnav-content .subnav-list a , h5{
    display: inline-block;
    font-size: 14px;
    position: relative;
    transition: transform linear 0.1s;
}

.subnav-list a:hover{
   opacity: 0.8;
   transform: translateX(6px);
}

/* Begin: container */
.container{

}

.container__slider {
    width: 100%;
    display: flex;
}

.container__slider-img {
    width: 100%;
}

/* Product best sellers */
.product-best-sellers {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vw 4vw;
}

.product-best-sellers__title {
    color: var(--text-color);
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.product-best-sellers__title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: -16px;
    right: -16px;
    top: 50%;
    background-color: #d9d9d9;
    z-index: 0;

}

.product-best-sellers__title h3 {
    position: relative;
    display: inline-block;
    margin: 16px 0;
    padding: 0 16px;
    background-color: #fff;
}

.product-best-sellers__item {
    padding: 6px;
}

.product-best-sellers__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.item__img-wrap:hover .item__img {
    /* box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05); */
    transform: scale(1.15);
}

.item__img-wrap {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.item__img {
    width: 100%;
    object-fit: cover;
    transition: all 1s ease 0s;
}

.item__name-wrap {
    cursor: default;
    flex: 1;
}

.item__name {
    margin: 4px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.item__price {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--black-color);
}

.item__btn {
    min-width: 172px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 12px 20px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    transition: color .5s;
    z-index: 2;
}

.item__btn:before {
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background: var(--text-color);
transform-origin: 0 0;
transform: scaleX(0);
transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
z-index: -1;
}

.item__btn:hover {
color: #fff;
}
.item__btn:hover:before {
transform: scaleX(1);
}

.product-best-sellers__border-bottom {
    position: relative;
    width: 100%;
    height: 4vh;
}

.product-best-sellers__border-bottom hr{
    position: absolute;
    top: 0;
    left: -16px;
    right: -16px;
    border: 0;
    border-top: 1px solid #d9d9d9;
    margin: 34px 0 0;
}

/* Category banner */
.category-banner-block {
    padding: 2vw 4vw;
}

.category-banner-block a:hover .category-banner-item .label-box::before {
    height: 100%;
    opacity: 0.6;
}

.category-banner-block a:hover .category-banner-item .label-wrap p::after {
    width: 100%;
    left: 0;
    opacity: 1;
    visibility: visible;
}

.category-banner-item {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 72%;
    border-radius: 3px;
}

.category-banner-item__male {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/Ao_sweater/2.jpg');
}

.category-banner-item__female {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/Nu_ChanVay_QuanShort/1\ -\ Chân\ váy\ ngắn\ phối\ đường\ thêu\ -\ 6.825.000.jpg');
}

.category-banner-item__bag {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/TuiSach/1\ -\ Ví\ da\ kèm\ dây\ đeo\ kim\ loại\ -\ 3.325.000.jpg')
}

.category-banner-item__shoe {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/GiayDep/1\ -\ Sandel\ da\ mũi\ họa\ tiết\ -\ 9.625.000.jpg')
}

.category-banner-item__other {
    padding-bottom: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/PhuKien/ThatLung/1\ -\ Dây\ lưng\ khoen\ tròn\ -\ 4.725.000.jpg')
}

.category-banner-item .label-box {
    position: absolute;
    display: flex;
    align-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 30px;
}

.category-banner-item .label-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    left: 0;
    bottom: 0;
    background: linear-gradient( to top, #000,rgba(0, 0, 0, 0) );;
    opacity: 0.3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.2s;
}

.category-banner-item .label-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    text-transform: uppercase;
}

.category-banner-item .label-wrap h4 {
    display: block;
    font-size: 2.6rem;
    color: var(--white-color);
    letter-spacing: 2px;
    margin: 18px 0;
}

.category-banner-item .label-wrap p {
    position: relative;
    display: inline;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white-color);
    margin: 0;
}

.category-banner-item .label-wrap p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    height: 1px;
    width: 0;
    background: var(--white-color);
    transition: width .5s;
}

/* Begin: Reinsurance */
.Contact-block {
    margin-top: 70px;
    margin-bottom: 32px;
    padding: 0 4vw;
}

.reinsurance-container {
    width: 100%;
    height: 100%;
    margin: 16px 0;
}

.reinsurance-item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid #e6e6e6;
}

.reinsurance-item {
    width: 100%;
}

.reinsurance-item-link {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    color: var(--text-color);
    font-size: 0.85rem;
    text-align: left;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icon-wrap {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
}

.icon-wrap img {
    max-width: 18px;
}

/*--------------- Sub HTML ---------------*/

.page-title-wrapper {
    width: 100%;
    padding: 0 4vw;
    margin-top: 28px;
}

.page-title {
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
}

.page-title span {
    font-size: 2rem;
    /* font-family: 'Cabin'; */
}

.product-container {
    padding: 4vw;
}

.product-item-wrapper {
    padding: 0 4px;
    margin: 20px 0  ;
}

.product-item-link {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

.product-item {
    width: 100%;
    transition: transform 0.3s ease;
    position: relative;
}

.product-item__img {
    padding-bottom: 130%;
    position: relative;
}

.product-item__img img{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item__details {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
}

.product-item__name {
    width: 100%;
    padding-top: 24px;
}

.product-item__name h1 {
    color: var(--text-color);
    font-size: 1.3rem;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.product-item__price {
    width: 100%;
    margin-top: 12px;
}

.product-item__price span {
    color: var(--text-color);
}
.btn-add-cart {
    margin-right: 12px;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2rem;
}

/* ---------------End: SUb HTML --------------- */

/* Begin: footer */
.four-row{
    width: 25%;
    height: 100%;
    padding: 0px 58px;
}

.footer{
    padding: 2.375rem 3.5rem 1.875rem;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.link-social-network-box{
    display: flex;
    margin: 12px 0 52px;
}
.footer-logo-wrapper{
    flex-direction: column;
    width: calc(100% / 4);
    align-items: center;
}
.footer-logo-wrapper span{
    margin: 0;
    padding: 16px;
    color: var(--text-color);
    font-size: 3.4rem;
    font-weight: 800;
    display: inline-block;
    user-select: none;
    margin-left: 38px;
}
.social-network-icons-wrapper{
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-network-icons__list{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.footer .social-network-icons__item{
    display: inline-block;
    margin: 0 32px;
    font-size: 2.2rem;
}
.footer .social-network-icons__item a{
    padding: 4px 8px;
    display: block;
}
.footer .social-network-icons__item:hover a{
    opacity: 0.8;
}

.footer__container{
    display: flex;
    justify-content: center;
}

.footer h3{
    font-size: 1.6rem;
    margin-bottom: 24px;
    text-transform: uppercase;
    user-select: none;
}

.footer li{
    list-style-type: none;
    margin: 0 0 0.75rem;
}

.footer a{
    color: var(--text-color);
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer__Cty p{
    margin-bottom: 0.5rem ;

}

/* Cart list*/
.cart{
    position:fixed;
    z-index: 99999;
    height: 100vh;
    width: 462px;
    top: 0;
    right: 0;
    background: var(--main-color);
    padding: 12px 20px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    animation: slipRight ease-out 0.3s;
    display: none;
}
@keyframes slipRight {
    from {
        transform: translateX(+100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.cart h2{
    margin-bottom: 36px;
    margin-top: 24px;
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    color: var(--text-color2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}

.close-icon-wrapper {
    position: absolute;
    right: 4px;
    top: 0;
    z-index: 99999;
    font-size: 2.2rem;
    margin: 4px;
    cursor: pointer;
    color: var(--text-color2);
}
.close-icon-wrapper i{
    padding: 8px 10px;
}
.close-icon-wrapper:hover{
    opacity: 0.8;
}

.form-cart-wrapper {
    max-height: 524px;
    overflow-y: auto;
}

.form-cart-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5f5;
    border-radius: 4px;
}
.form-cart-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--text-color2);
    border-radius: 4px;
}
.form-cart-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.cart table{
    width: 100%;
}
.cart th {
    font-size: 1.6rem;
    color: var(--text-color2);
}
.cart table tr td{
    border-bottom: 1px solid #cecece;
    padding: 12px 0;
}
.cart__tbody {
    max-height: 400px;
    overflow-y: auto;
}
.cart-product-img-name {
    display: flex;
    align-items: center;
    color: var(--text-color2);
    font-weight: 600;
}
.cart__tbody tr .cart-product-img-name img{
    width: 68px;
    margin-right: 6px;
}
.cart__tbody tr .cart-product-img-name span{
    margin-left: 4px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.cart__tbody tr .cart-product-price {
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}
.cart__tbody tr .cart-product-amount {
    position: relative;
}
.cart__tbody tr .cart-product-amount input {
    width: 38px;
    outline: none;
    font-weight: 600;
    margin-left: 8px;
}
.cart__tbody tr .cart-product-amount span {
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    bottom: 8px;
    right: 8px;
    user-select: none;
}

.price-total {
    text-align: right;
}

.price-total p {
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--text-color2);
    user-select: none;
}
.cart button {
    width: 90%;
    font-size: 1.6rem;
    border: none;
    padding: 12px 16px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--text-color2);
    position: relative;
    transition: color .5s;
    z-index: 2;
    user-select: none;
}

.cart button:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--text-color);
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
    z-index: -1;
}

.cart button:hover {
    color: #FF9966;
}
.cart button:hover:before {
    transform: scaleX(1);
}
.cart tbody tr {
    color: var(--text-color2);
    user-select: none;
}

/* ========= Responsive  =========*/
/* Menu on Tablet & Mobile*/
.nav-overlay {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.1s;
}

.nav__mobile {
    position: fixed;
    z-index: 10001;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}
.nav__mobile-list {
    padding-left: 0;
    margin-top: 38px;
    list-style: none;
}
.nav__mobile-list > li {
    border-bottom: 1px solid #dedede;
    padding: 6px 12px;
}
.nav__mobile-link {
    text-decoration: none;
    text-align: left;
    color: #333;
    display: flex;
    align-items: center;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.4px;
}

.nav__mobile-close {
    font-size: 2.8rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0 12px;
}
.subnav__mobile-return {
    font-size: 2rem;
    color: #666;
    position: absolute;
    top: -3.8rem;
    left: 1rem;
    padding: 0 12px;
}

.icon-angle-right {
    flex: 1;
    text-align: right;
    font-size: 24px;
    -webkit-tap-highlight-color: transparent;
}

.nav__input:checked ~ .nav-overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
}
/* .nav__input:checked ~ .subnav__mobile-box {
    visibility: hidden;
    opacity: 0;
} */

.subnav__input:checked ~ .subnav__mobile-box {
    visibility: visible;
    right: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Subnav mobile */
.subnav__mobile-box {
    background-color: #fff;
    position: absolute;
    z-index: 10002;
    top: 38px;
    right: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 12px;
    visibility: hidden;

    transition: all linear 0.2s;
}
.subnav__mobile-list p {
    height: 20px;
    line-height: 20px;
    background-color: #f4f4f4;
    padding: 0 20px;
    margin: 0;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    text-align: left;
}
.subnav__mobile-list ul{
    padding: 0;
}
.subnav__mobile-list li {
    list-style: none;
    padding: 0 20px;
    line-height: 60px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.subnav__mobile-link {
    color: #333;
    text-decoration: none;
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.custom-link {
    padding: 0;
    background: var(--main-color);
}

.custom-link li {
    text-align: left;
    list-style: none;
    padding: 6px 12px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.custom-link span{
    color: var(--text-color);
}
.custom-link .custom-link-icon{
    color: var(--text-color);
    margin-right: 12px;
}

/* Responsive */
/* Mobile & Tablet */
@media (max-width: 63.9475em) {
    .display-none {
        display: none;
    }
    .header.header-sticky .header__navbar-list.nav-menu {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        right: auto;
        width: 172px;
        height: var(--menu-height);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .header.header-sticky .header__logo {
        left: 0;
        width: 100%;
    }
    .four-row {
        padding: 0 16px;
    }
    .navbar-item__menu {
        display: inline-block;
    }
    .navbar-item__menu:hover {
        cursor: default;
    }

    .menu-icon {
        padding: 4px 8px;
    }

    /* sign up form */
    .sign-up-wrapper h1 {
        font-size: 2.8rem;
    }
    .sign-up-box-left form {
        padding: 0px 38px;
    }
    .connect-other-wrapper {
        padding: 0px 38px;
    }
    .sign-up-box-left .input-box h3 {
        font-size: 1.8rem;
    }
    .sign-up-box-left input {
        font-size: 1.6rem;
    }
    .sign-up-box-left form button {
        font-size: 1.7rem;
    }
    .connect-content {
        font-size: 1.5rem;
    }
    .haven-account-wrapper {
        margin-bottom: 8px;
    }
    .haven-account-wrapper span {
        font-size: 1.4rem;
    }
    /* sign in form */
    .sign-in-wrapper h1 {
        font-size: 2.8rem;
    }
    .sign-in-box-left form {
        padding: 0px 38px;
    }
    .sign-in-box-left .input-box h3 {
        font-size: 1.8rem;
    }
    .sign-in-box-left input {
        font-size: 1.6rem;
    }
    .sign-in-box-left form button {
        font-size: 1.7rem;
    }
}

/* Mobile */
@media (max-width: 46.2499em) {
    .c-display-none {
        display: none;
    }
    .c-flex-direction {
        flex-direction: column;
    }
    .c-flex-wrap {
        flex-wrap: wrap;
    }
    .c-mt-0 {
        margin-top: 0;
    }
    .c-mr-0 {
        margin-right: 0;
    }
    .c-0 {
        display: none;
    }
    .c-6 {
        width: 50%;
    }
    .c-12 {
        width: 100%;
    }
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 50%;
    }

    /* Header */
    .header .header__logo a {
        padding: 0;
        font-size: 2.4rem;
    }
    .header__navbar-item {
        margin: 0 6px;
    }
    .form-mini-search {
        right: 0;
    }
    .form-mini-search.active {
        right: 12px;
    }
    .header__notify-wrap {
        width: 282px;
        right: -66px;
        transform-origin: calc(100% - 58px) top;
    }
    .header__notify-wrap::before {
        top: -28px;
        right: 60px;
        border-width: 14px 20px;
    }

    /* Best sellers  */
    .product-best-sellers__title {
        font-size: 1.4rem;
    }

    .item__name,.item__price {
        font-size: 1.3rem;
    }

    .item__btn {
        min-width: 112px;
        font-size: 1rem;
        padding: 6px 16px;
    }

    /* Category */
    .category-banner-block {
        padding: 0;
    }
    .category-banner-item .label-box {
        padding: 6px;
    }
    .category-banner-item .label-wrap h4 {
        font-size: 1.6rem;
        margin: 8px 0;
    }
    .category-banner-item .label-wrap p {
        font-size: 1rem;
    }
    /* Contact */
    .reinsurance-item-wrap {
        width: 100%;
        height: 49px;
        text-align: left;
        border-right: none;
        border-bottom: 1px solid #e6e6e6;
    }
    .reinsurance-item {
        padding: 4px 0;
    }
    .reinsurance-item-link {
        font-size: 0.75rem;
    }

    /* Footer */
    .footer {
        padding: 0;
    }
    .four-row {
        width: 50%;
        height: 50%;
    }
    .link-social-network-box {
        flex-wrap: wrap;
        margin: 24px 0 0;
    }
    .footer-logo-wrapper {
        width: 100%;
        text-align: center;
    }
    .footer-logo-wrapper span {
        margin-left: 0;
    }
    .social-network-icons-wrapper {
        width: 100%;
        text-align: center;
        margin: 30px 0;
    }
    .social-network-icons__list {
        width: 100%;
    }
    .footer .social-network-icons__item {
        margin: 0 auto;
    }
    .footer .social-network-icons__item a {
        padding: 10px 20px;
    }

    /* Sign up form */
    .sign-up-wrapper {
        width: 362px;
    }
    .sign-up-box-left {
        border-radius: 12px;
    }
    .connect-other-account {
        display: block;
    }
    /* Sign in form */
    .sign-in-wrapper {
        width: 362px;
    }
    .sign-in-box-left {
        border-radius: 12px;
    }
    .connect-other-account {
        display: block;
    }
    /* Cart */
    .cart {
        width: 100%;
        height: 100%;
    }
    .form-cart-wrapper {
        max-height: 412px;
    }
    #toast {
        width: 100%;
    }
    .toast {
        min-width: 100%;
        max-width: 100%;
        position: absolute;
    }
    .toast + .toast{
        margin-top: 0;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9475em) {
    .m-display-none {
        display: none;
    }
    .m-6 {
        width: 50%;
    }
    .col-3 {
        width: calc(100% / 3);
    }
    .header .header__logo a {
        font-size: 2.8rem;
    }
    .header__navbar-item, .header__navbar-item .item-link {
        font-size: 1.6rem;
    }
    .sign-up-wrapper {
        width: 728px;
    }
    .sign-in-wrapper {
        width: 728px;
    }
    .footer-logo-wrapper span{
        margin: 0;
        font-size: 3.2rem;
        padding-right: 0;
    }
    .footer .social-network-icons__item {
        margin: 0px 16px;
    }

    /* cart */
    .cart h2 {
        font-size: 2.6rem;
    }
    .cart th {
        font-size: 1.6rem;
    }
    .cart__tbody tr .cart-product-img-name span {
        font-size: 1.4rem;
    }
    .cart__tbody tr .cart-product-price {
        font-size: 1.4rem;
    }
    .cart__tbody tr .cart-product-amount span {
        font-size: 1.4rem;
    }
    .price-total p {
        font-size: 1.6rem;
    }
    .cart button {
        height: 50px;
        font-size: 1.7rem;
        padding: 14px 16px;
    }
    .cart__tbody tr .cart-product-amount {
        font-size: 1.4rem;
    }
    .cart__tbody tr .cart-product-amount input {
        width: 36px;
        height: 22px;
    }
    .toast {
        position: absolute;
        transform: translateX(-50%);
    }
    .toast + .toast{
        margin-top: 0;
    }
}

/* >= Tablet */
@media (min-width: 46.25em) {
    .border-none {
        border: none
    }

}

@media (min-width: 64em) {
    .l-display-none {
        display: none;
    }
    .l-6 {
        width: 50%;
    }
    .product-item-wrapper:hover .product-item {
        transform: translateY(-10px);
    }
}
